*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

nbproject/private/
ant-deploy.xml
build-impl.xml
genfiles.properties
src/conf/MANIFEST.MF
build.xml
/build/
persistence.xml

/restaurantXtier/nbproject/private/
/restaurantXtier/restaurantXtier-war/nbproject/private/
/restaurantXtier/restaurantXtier-ejb/nbproject/private/
/restaurantXtier/restaurantXtier-ejb/build/
/restaurantXtier/restaurantXtier-ejb/dist/
/restaurantXtier/build/
/restaurantXtier/dist/
/restaurantXtier/restaurantXtier-war/build/
/restaurantXtier/restaurantXtier-war/dist/
/testJpql/nbproject/private/
/springMVC-intro/nbproject/private/