body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.emp{
    height: 200px;
    display: inline;
}

.emp.p{
    font-size: 2px;
    color: #FFFFFF;
}

emp.a{
    display: inline;
    height: 100%;
    cursor:pointer;
}
.chktable{
    display: none;
}

div.row {
    float: left;
    width: 175px;
    height: 175px;
}
div.row label{
    text-align: center;
    display: block;
   
}

div.row img{
     cursor:pointer;
}

div.row p {
    text-align: center;
}


div.gallery{
    margin-top : 100px;
    width: 1200px;
    background-color: whitesmoke;
    border-style: solid;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    margin : 20px auto;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.navbar label{
    text-align: center;
    display: block;
}