/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mai 2016, 16:20:11
    Author     : cdi206
*/



.boutonVert {
    border:none;
    padding:6px 4px 6px 4px;
    border-radius:8px;
    background:#00FF33;
    font:bold 13px Arial;
    color:#000000;
}
.boutonOrange {
    border:none;
    padding:6px 4px 6px 4px;
    border-radius:8px;
    background:#FF8C00;
    font:bold 13px Arial;
    color:#000000;
}
.boutonRouge {
    border:none;
    padding:6px 4px 6px 4px;
    border-radius:8px;
    background:#CC0000;
    font:bold 13px Arial;
    color:#000000;
}


.bouton17 {
    border:none;
    padding:8px 8px 8px 8px;
    border-radius:12px;
    background:#FF8C00;
    font:bold 20px Arial;
    color:#000000;
}

/*#principal {
    height:800 px;
}
.ecart {
    padding-left: 4px;
    padding-right: 4px;
}*/
/*#divConteneur{
    min-height:200px;
    height:200px;pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height
    min-width:700px;
    width:700px;pour IE qui comprend rien
    overflow:scroll;pour activer les scrollbarres
    overflow-x:hidden;
}
#divConteneur2{
    min-height:400px;
    height:400px;pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height
    min-width:700px;
    width:700px;pour IE qui comprend rien
    overflow:scroll;pour activer les scrollbarres
    overflow-x:hidden;
}*/
#tab thead {
    border :1px solid black;
    display:block;
}
#tab tbody {
    border :1px solid black;
    display:block;
    min-height:450px;
    height: 450px; 
    overflow-y:scroll;
}

#tab thead tr:first-child th:nth-child(1) { 
    width:140px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(2) { 
    width:40px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(3) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(4) { 
    width:170px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(5) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(6) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(7) { 
    width:60px;
    height : 40px;
}


#tab tbody tr:first-child td:nth-child(1) { 
    width:140px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(2) { 
    width:40px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(3) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(4) { 
    width:170px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(5) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(6) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(7) { 
    width:60px;
    height : 40px;
}

#tab2 thead {
    border :1px solid black;
    display:block;
}
#tab2 tbody {
    border :1px solid black;
    display:block;
    min-height:450px;
    height: 450px; 
    overflow-y:scroll;
}
#tab2 thead tr:first-child th:nth-child(1) { 
    width:40px;
    height : 40px;
}
#tab2 thead tr:first-child th:nth-child(2) { 
    width:170px;
    height : 40px;
}
#tab2 thead tr:first-child th:nth-child(3) { 
    width:110px;
    height : 40px;
}

#tab2 tbody tr:first-child td:nth-child(1) { 
    width:40px;
    height : 40px;
}
#tab2 tbody tr:first-child td:nth-child(2) { 
    width: 170px;
    height : 40px;
}
#tab2 tbody tr:first-child td:nth-child(3) { 
    width: 110px;
    height : 40px;
}

