/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 mai 2016, 16:20:11
    Author     : cdi206
*/



.bouton13 {
    border:none;
    padding:6px 2px 6px 2px;
    border-radius:8px;
    background:#FF7F50;
    font:bold 13px Arial;
    color:#fff;
}

#principal {
    height:800 px;
}
.ecart {
    padding-left: 4px;
    padding-right: 4px;
}
#divConteneur{
    min-height:200px;
    height:200px;/*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
    min-width:700px;
    width:00px;/*pour IE qui comprend rien*/
    overflow:scroll;/*pour activer les scrollbarres*/
    overflow-x:hidden;
}
#divConteneur2{
    min-height:400px;
    height:400px;/*pour IE qui comprend rien, et qui ne reconnait pas min-height, mais qui comprend mal height*/
    min-width:700px;
    width:700px;/*pour IE qui comprend rien*/
    overflow:scroll;/*pour activer les scrollbarres*/
    overflow-x:hidden;
}
#tab thead {
    display:block;
}
#tab tbody {
    display:block;
    height: 250px; 
    overflow-y:scroll;
}

#tab thead tr:first-child th:nth-child(1) { 
    width:140px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(2) { 
    width:40px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(3) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(4) { 
    width:170px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(5) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(6) { 
    width:100px;
    height : 40px;
}
#tab thead tr:first-child th:nth-child(7) { 
    width:60px;
    height : 40px;
}


#tab tbody tr:first-child td:nth-child(1) { 
    width:140px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(2) { 
    width:40px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(3) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(4) { 
    width:170px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(5) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(6) { 
    width:100px;
    height : 40px;
}
#tab tbody tr:first-child td:nth-child(7) { 
    width:60px;
    height : 40px;
}

#tab2 thead {
    display:block;
}
#tab2 tbody {
    display:block;
    height: 250px; 
    overflow-y:scroll;
}
#tab2 thead tr:first-child th:nth-child(1) { 
    width:40px;
    height : 40px;
}
#tab2 thead tr:first-child th:nth-child(2) { 
    width:170px;
    height : 40px;
}
#tab2 thead tr:first-child th:nth-child(3) { 
    width:110px;
    height : 40px;
}

#tab2 tbody tr:first-child td:nth-child(1) { 
    width:40px;
    height : 40px;
}
#tab2 tbody tr:first-child td:nth-child(2) { 
    width: 170px;
    height : 40px;
}
#tab2 tbody tr:first-child td:nth-child(3) { 
    width: 110px;
    height : 40px;
}