body{
    background-color: #DCDCDC;
}

h1{
    alignment-baseline: central;
}

.boutoncaisse{
    vertical-align: top;
    display: inline-block;
}


.boutoncaisse a {
    display:block;
    width:100px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#partiedroite{
    background-color: #DCDCDC;
    display: inline-block;
    float: none;
    text-align: left;
}

#ticket{
    background-color: #DCDCDC;
    display: inline-block;
    float: none;
    text-align: left;
    padding-left: 20px;
    margin-left: 30px;
}

#un{
    display: block;
    float: top;
}

#central{
    display: block;
    float: left;
}

#afficheur{
    float: right;
}

.partiegauche{
    float: left;
}

.partiegauche, #ticket{
    padding:1px 0;
    display: inline-block;
        
}

#afficeurPrix{
    height: 30px;
    width: 200px;
    margin-top: 20px;
}

.divprincipale{
    margin: auto;
}

#afficherCommande{
    overflow: auto;
    height: 200px;
    width: 380px;
}

th,td{
    alignment-adjust: central;
}

.btn{
    display:block;
    width:80px;
    line-height:20px;
    vertical-align:middle;
    text-align: center;
    text-decoration:none;
    color: #ffffff;
    background-color: #0987F0;
    border-color: #2e6da4;
}

.btn-droite a{
    display:block;
    width:100px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    color: #ffffff;
    background-color: #0000C8;
    border-color: #2e6da4; 
}